.search-form-component {
    background-color: teal;
    color: white;
}

.line-item {
    display: flex;
    align-items: center; 
    border: 1px solid black;
}

.line-item div {
    margin: 0px 20px 0px 20px;
    border-right: 1px solid black;
}

#input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-section button {
    margin: 20px;
}

#input-section label {
    margin: 20px;
}

#input-section label {
    margin: 20px;
}